$white: #ffffff;
$black: #000000;

$light-gray-bg-color: #f5f6fa;

$red-heading-text-color: #eb4d4b;
$black-text-color: #2d3436;
$light-white-text-color: rgb(107, 113, 127);
$dark-blue-text-color: #341f97;
